.table {
    margin: 5px;
    justify-content: center;
    align-content: center;
    color: black;
    background-color: antiquewhite;
    opacity: .9;
    padding: 5px;
    border: solid #ffffff 3px;
    border-radius: 5px;
}