<!-- <form class="table" (ngSubmit)="delete()">
    <h3>Delete Unstored Item</h3>
        <p>        
            <label for="itemId"> Item ID </label>
            <input pInputText pInputText type="number" name="itemId" [(ngModel)]="item.id"/>
        </p>
        <p>
            <label for="itemName"> Item Name </label>
            <input pInputText pInputText type="text" name="itemName" [(ngModel)]="item.name"/>
        </p>
        <button pButton label="Submit" [ngStyle]="{backgroundColor:'var(--teal-500)'}"></button>
</form> -->

<table class="table">
    <h3>Delete Item</h3>
    <label for="searchId">Item ID </label>
    <input pInputText type="any" name="searchId" [(ngModel)]="searchId" (change)="onDelete()"/>
    <button pButton label="Submit" [ngStyle]="{backgroundColor:'var(--teal-500)'}"></button>
   
</table>