<form class="table" (submit)="deleteW(warehouse)">
    <h3>Remove an Entire Warehouse from the Warehouse List</h3>
        <p>
            <label for = "warehouseId"> Warehouse ID </label>
            <input pInputText type="number" name="warehouseId" [(ngModel)]="warehouse.warehouseId"/>
        </p>
        <button pButton label="Submit" [ngStyle]="{backgroundColor:'var(--teal-500)'}"></button>
    </form>
    
<form class="table" (submit)="deleteWI(warehouse)">
    <h3>Remove an Item from a Warehouse</h3>
        <p>
            <label for = "warehouseId"> Warehouse ID </label>
            <input pInputText type="number" name="warehouseId" [(ngModel)]="warehouse.warehouseId"/>
        </p>
        <p>
            <label for="itemId"> Item ID </label>
            <input pInputText type="number" name="itemId" [(ngModel)]="warehouse.itemId"/>
        </p>
        <button pButton label="Submit" [ngStyle]="{backgroundColor:'var(--teal-500)'}"></button>
    </form>